<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Computer Trends Reviews</title>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
  <nav>
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/import">Import</a></li>
        <li><a href="/export">Export</a></li>
        <li><a href="/new-user">New User</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>
