{% extends 'admin_layout.html' %}
{% block content %}
{% for review in reviews %}
<div class="review {% if review.approved %}approved{% else %}not-approved{% endif %}">
  {% if review.title %}<p class="title">{{ review.title }}</p>{% endif %}
  <p class="text">{{ review.text }}</p>
  <p class="author">{{ review.author }}</p>
  <p>
    <a href="/toggle-approved/{{ review.id }}">{% if review.approved %}Approved{% else %}Not Approved{% endif %}</a> -
    <a href="/edit/{{ review.id }}">Edit</a> - <a href="/delete/{{ review.id }}">Delete</a>
  </p>
  <p>Created: {{ review.created }}</p>
</div>
{% endfor %}
{% endblock %}
